# python cache
__pycache__/
*.pyc

# env files (IMPORTANT)
.env
.env.*

# virtual environment
venv/
.venv/

# system files
.DS_Store
Thumbs.db

# streamlit cache
.streamlit/

# vscode / editor
.vscode/